@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BTL.Models.Class.Members>
<link rel="stylesheet" href="~/css/dinhdang/Chuxe.css"/>
<div class="col-md-9">
    <div class="card-body">
        <h4 class="card-title mb-3">Danh sách User</h4>
        <table class="table table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th>STT</th>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điẹn thoại</th>
                    <th>Vai trò</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@item.MaUser</td>
                        <td>@item.TenDN</td>
                        <td>@item.Email</td>
                        <td>@item.SDT</td>
                        <td>@item.VaiTro</td>
                     </tr>
                    stt++;

                }

            </tbody>
        </table>
        <a href="@Url.Action("Index","Chuxe")"><button>List Xe</button></a>
